.ais-Hits-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      list-style: none;
      padding-inline-start: 0;
}

.ais-Hits{
   padding: 0px 5vw;
}

.ais-Pagination-list{
   list-style: none;
   display: flex;
   justify-content: center;
   gap: 1rem;
   padding: 0;
}

.ais-Pagination-item{
   padding: 0.5rem;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #00a27e;
   color: #fff;
   text-decoration: none;
}

.ais-Pagination-item a {
   color: #fff;
   text-decoration: none;
}
.ais-Pagination-item--disabled{
   background-color: #155648;
   color: #ccc;
   cursor: not-allowed;
}
.ais-Pagination-item--firstPage{
   display: none;
}

.ais-Pagination-item--selected{
   transform: scale(1.1);
}

.thumbnail-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   max-height: 250px;
   width: auto;
}

.css-1i9wt8r-MuiCardContent-root:last-child{
   padding-bottom: 0 !important;
}